ul,
li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: white;
}

.rsOverflow {
    overflow: visible;
}

#Home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    /* padding-top: 15px; */
    padding-bottom: 95px;
    height: 100vh;
}

#Dock {
    height: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.68);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    z-index: 1;
}

ul#Dock .icon-holder {
    width: 60px!important;
    height: 80px!important;
}

ul#Dock .icon-holder .app-icon {
    width: 60px!important;
    height: 60px!important;
}

#Dock li {
    background: transparent;
    user-select: none;
    -webkit-user-select: none;
}

.slider-pager {
    position: fixed;
    bottom: 100px;
}

.slider-pager .icon {
    color: white;
    font-size: 9px;
}

.icon-holder {
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-bottom: 5px;
    height: 80px;
    background: transparent;
    display: block!important;
}

.icon-holder.ui-sortable-helper {
    opacity: 0.5;
}


/*.icon-holder.ui-sortable-placeholder{
    display: none;
}*/

.icon-holder input.name {
    text-align: center;
    background: transparent;
    color: white;
    width: auto;
    height: auto;
    min-width: auto;
    padding: 0;
    font-size: 12px;
    width: 100%;
    line-height: 22px;
}

body.folder-expanded .slick-slider > .slick-dots {
    display: none!important;
}

.folder.expand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9003;
    bottom: 0;
    width: 100%!important;
    height: 117%!important;
    background: rgba(0, 0, 0, 0.57);
}

.folder.expand .icon-holder {}

.folder > .app-icon {
    background: rgba(208, 233, 255, 0.43);
    border-radius: 10px;
    padding: 0;
    width: 52px;
    height: 52px;
}

.folder > .app-icon-holder {}

.folder.expand > .app-icon {
    background: rgba(242, 249, 255, 0.8);
    z-index: 11;
    position: relative;
    top: 50%;
    width: 256px!important;
    height: 256px!important;
    margin-top: -128px;
    border-radius: 40px;
    padding: 10px;
}

.folder.expand > .name {
    font-size: 40px;
    position: absolute;
    top: 10%;
    width: 100%;
    left: 0;
}

.folder > .app-icon ul {}

.folder ul .icon-holder {
    margin-bottom: 4px;
    position: relative;
}

.folder ul .icon-holder .app-icon {
    width: 100%!important;
    height: 100%!important;
    top: 0;
    position: absolute;
}

.folder > .app-icon {
    padding: 5px;
}

.folder ul .icon-holder .name {
    display: none;
}

.folder.expand ul .icon-holder .name {
    display: block;
    height: auto;
    line-height: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slider-slide {
    height: 100vh;
}

.icon-wrapper .name {}

.app-icon {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    display: block;
    color: white;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    line-height: 130px;
    background-repeat: no-repeat;
    padding: 5px;
    text-overflow: ellipsis;
}

#Home {
    height: 100vh;
    /* position: relative; */
}

#Screens {
    /* padding-top: 15px; */
    position: relative;
    z-index: 111;
}

.slick-slider,
.slick-list {
    height: 100vh;
}

.slick-track {
    height: 100%;
}

.slick-dots {
    bottom: 110px;
}

.slick-dots li {
    width: 12px;
    margin: 0;
    text-align: center;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    margin: 0 2px;
    opacity: .6;
    margin-bottom: 9px;
}

.slick-dots li.slick-active {
    opacity: 1;
}

.slick-dots li button {
    width: 100%;
    /* display: none; */
    height: 6px;
    width: 6px;
    padding: 0;
}

.slick-dots li button:before {
    color: white;
    font-size: 7px;
    width: 12px;
    display: none;
}

.slick-dots li.slick-active button:before {
    color: white;
}

body.folder-expanded #Dock {
    /* display: none; */
}

body.folder-expanded .icon-holder {
    display: none;
}

body.folder-expanded .icon-holder.folder,
body.folder-expanded .icon-holder.folder * {
    display: block;
}

.new-page-btn {
    position: fixed;
    bottom: 94px;
    font-size: 22px;
    left: 50%;
    z-index: 200;
    /* margin-left: -2px; */
    cursor: pointer;
}

.new-folder-btn {
    background: url(../img/new-add-folder.svg) no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 9001;
}

.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
    background: transparent;
}

.rsDefault .rsBullets {
    background: none;
    line-height: 20px;
    bottom: 95px;
    z-index: 0;
    bottom: -7px;
    position: fixed;
    bottom: 89px;
    z-index: 5;
}

.rsDefault .rsBullet {
    padding: 0;
    margin: 2px;
    width: 10px;
    height: 10px;
}

.rsDefault .rsBullet span {
    width: 10px;
    height: 10px;
}

.royalSlider {
    width: 100%;
    height: calc(100vh - 95px);
    z-index: 12;
}

.rsSlide {
    overflow: visible;
    padding-top: 4px;
}

.nav-scene{
    position: fixed;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 9000;
}

.folder-expanded .nav-scene{
    z-index: -1;
}

#nextScene{
    right: 0;
    left: auto;
}

@media screen and (max-width: 360px) {
    #Dock {
        height: 70px;
    }
    .rsDefault .rsBullets {
        bottom: 72px;
    }
    .new-page-btn,
    .new-folder-btn {
        bottom: 76px;
    }
    ul#Dock .icon-holder .app-icon {
        width: 50px!important;
        height: 50px!important;
    }
    ul#Dock .icon-holder {
        width: 50px!important;
        height: 67px!important;
        font-size: 11px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3)
{
    .folder.expand > input.name{
        top: 0;
        font-size: 30px;
    }
}
